<!DOCTYPE html>
<html ng-app="FilterArrayApp">

<head>
  <meta charset="utf8">
  <script src="/angular.min.js"></script>
  <script src="/app.js"></script>
  <style>
    body {
      font-size: 1.2em
    }
  </style>
  <title>Filter Array Example</title>
</head>

<body>
  <h2>Filter Array Example</h2>
  <div ng-controller='FilterArrayController'>
    <h3>Shopping List</h3>
    <input type="text" ng-model="search">
    <ul>
      <li ng-repeat="item in shoppingList | filter: search">{{item}}</li>
    </ul>
  </div>

</body>

</html>