<!DOCTYPE html>
<html ng-app="CustomServiceApp">

<head>
  <meta charset="utf8">
  <script src="/angular.min.js"></script>
  <script src="/serviceWithProvider.js"></script>
  <style>
    body {
      font-size: 1.2em
    }
  </style>
  <title>Custom services with provider</title>
</head>

<body>
  <h2>Custom services with provider</h2>
  <div id="list" ng-controller="ShoppingListController as list">
    <h2>Shopping List</h2>
    <input type="text" ng-model="list.itemName" placeholder="Item Name">
    <input type="text" ng-model="list.itemQuantity" placeholder="Item Quantity">
    <button ng-click="list.addItem()">Add Item to List</button>
    <ol>
      <li ng-repeat="item in list.items">
        {{item.quantity}} as {{item.name}}
        <button ng-click="list.removeItem($index)">Remove Item</button>
      </li>
    </ol>
    <!-- <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div> -->
    <!-- <div ng-show="list.errorMessage" class="error">Error: {{list.errorMessage}}</div> -->
    <div ng-hide="!list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
  </div>

</body>

</html>